@mixin panel_size($width, $height) {
  width: #{(260 * $width + (($width - 1) * 10))}px;
  height: #{(260 * $height + (($height - 1) * 10))}px;
  max-width: #{(260 * $width + (($width - 1) * 10))}px;
  max-height: #{(260 * $height + (($height - 1) * 10))}px;
  margin: 5px;
  overflow: hidden;
}

.panel {
  font-family: var(--panel-font-family-sans-serif);
  font-size: var(--panel-font-size);
  clear: both;
  background-color: var(--panel-background-color);
  color: var(--text-color);
  overflow: hidden;
  line-height: normal;

  @for $i from 1 through 4 {
    @for $j from 1 through 4 {
      &.panel-size-#{$i}x#{$j} {
        @include panel_size($i, $j)
      }
    }
  }

  .panel-title {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    padding: 11px 13px;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    &.center {
      text-align: center;
    }
  }

  .panel-body {

    &.padding {
      padding: var(--panel-padding);
    }

    &.no-padding {
      padding: 0;
    }
  }
}