:root {
  --font-family-sans-serif: "Roadgeek 2005 Series C", sans-serif;
  --font-size: 16px;
  --text-color: #e0e0e0;

  --panel-background-color: #2a2a2a;
  --panel-padding: 16px;
  --panel-secondary-color: #7f7f7f;
}